.home{
  max-width:1500px;
  margin-left:auto;
  margin-right:auto;
}


.product__container{
  display:flex;
  z-index:1;
  margin-left:20px;
  margin-right:20px;
}

.home__bannerImg{
  mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
  width:100%;
  z-index:-1;
  margin-bottom:-150px;
}