.subtotal{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:300px;
  height:100px;
  margin-top:10px;
  margin-left:10px;
  padding:20px;
  background-color: #f3f3f3;
  border:1px solid #dddddd;
  border-radius:3px;
}

.subtotal__gift{
  display:flex;
  align-items: center;

}

.subtotal__gift > input {
  margin-left:5px;
}

.subtotal > button {
  background-color: #f0c14b;
  outline:none;
  border:none;
  /* border:1px solid; */
  cursor: pointer;
  padding:10px;
  border-radius:20px;
  color:#111

}

.subtotal__price{
  margin-left:5px;
}